body {
    width: 50vw;
    height: 100vh;
    background: linear-gradient(45deg, #CDF0EA, #A7D2CB 50%);
}

#charts {
    @media only screen and (max-height: 1400px) {               
        display: flex;
        flex-direction: row;
    }
}

/* #chart {
    border: 1px solid black
} */

#legend {
    margin: 1rem;
    font-weight: bold;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}